@font-face {
  font-family: '경기천년'; /* 서체 이름 지정 */
  src: url("/fonts/경기천년제목_Light.ttf") format("truetype"); /* TTF 파일 경로 */
}
body {
  font: "경기천년", sans-serif;
  /* line-height: 1.8; */
}

.navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 1.1rem !important;
  letter-spacing: 0.4rem;
  opacity: 0.9;
}
.navbar ul {margin-right: 2rem;}
.navbar li a, .navbar .navbar-brand {color: #d5d5d5 !important;}
.navbar-nav li a:hover {color: #fff !important;}
.navbar-nav li.active a {color: #fff !important; background-color:#29292c !important;}
.navbar-default .navbar-toggle {border-color: transparent;}

.container {padding: 8rem 12rem;}
.container h3, .container-fluid h3 {margin-bottom: 3rem;}
#about>.row {margin-top: 8rem;}

.img-border {
  border: 1rem solid transparent;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.img-border:hover {border-color: #f1f1f1;}

.carousel-inner img {width: 100%; margin: auto;}
.carousel-caption{
  top: 15rem;
  animation: LeftToRight2 1s;
}

/* @keyframes로 애니메이션 정의하기 */
@keyframes LeftToRight {
  0% {left: -100%;}
}
/* 다른 방법 */
@keyframes LeftToRight2 {
  0% {transform: translateX(-100%);}
  /* 100% {transform: translateX(0%);} */
}

#ourmap h3 {margin-top: 8rem;}
footer {background-color: #2d2d30; color: #f5f5f5; padding: 32px;}
footer a {color: #f5f5f5;}
footer a:hover {color: #777; text-decoration: none;}

@media screen and (max-width: 767px) {
  .container {
    padding: 8rem 5rem;
  }
  .carousel-caption p{
    display: none;
  }
  .glyphicon-circle-arrow-right {
    margin-bottom: 8rem;
  }
}